
NEXT_PUBLIC_SUPABASE_URL=https://sefpckeoefeyhfqhxhlo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlZnBja2VvZWZleWhmcWh4aGxvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwNDI5ODMsImV4cCI6MjEwMjYxODk4M30.r_b2lba82iqU1z2Z4ukg-dGUq5x73hXdKDBV67b5twU

SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
